div{
    background-color: white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif
}

.firstbutton{
    background-color: black;
    color: white;
}

.secondbutton{
    background-color: yellow;
    color: black;
}